## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />

   <%block name="navigation">
    <div class="row">

    </div>
    </%block>

  <%block name ="join_us">
    
      </%block>

  <%block name="content">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-7">
              <div class="well well-lg">
               <div class="row"> 
                <div class="col-md-4"></div>
                <div class="col-md-5">
                  <h3>Username Help</h3>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <p>Please enter your email, then select and answer one of your designated security questions</p>
                  <p>An email containing your Username will be sent to your company email address upon verification</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-4">
                <form role="form">
                  <div class="form-group">
                    <label class="sr-only" for="input_UserName">Username</label>
                    <input type="email" class="form-control" id="input_UserName" placeholder="Email Address">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3"></div>
                  <div class="col-md-5">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Select Security Question<span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">What is your grandmother's maiden name?</a></li>
                      <li class="divider"</li>
                      <li><a href="#">What was your high school's mascot?</a></li>
                    </ul>
                  </div>
                </div>

                  <div class="col-md-4">
                   <a class="btn btn-success" href="#email_sent" data-toggle="modal">Submit</a>&nbsp&nbsp
                    <a class="btn btn-primary" href="/JLR/login">Return to login</a>
                  </div>
              </div><br>

             <div class="row">
                <div class="col-md-3"></div>
                 <div class="col-md-4">
                  <div class="form-group">
                    <label class="sr-only" for="input_securityAnswer">Security Answer</label>
                    <input type="text" class="form-control" id="input_securityAnswer" placeholder="Security Answer">
                  </div>
                 </div>
              </div>    
                </form><br>
                

              </div>
          </div>
        </div>



  </%block>
