## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />

 <%block name="content">
       <div class="row">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="well well-lg" style="overflow:hidden">
                  
                      <div class="control-group">
                      <h2>Sign Up</h2></br>
                        <form class="form-horizontal" role="form">
                          
                            <label for="inputEmail3" class="col-sm-5 control-label">First Name</label>
                            <input type="email" class="form-control" id="inputEmail3" placeholder="First Name"></br>
                                                    
                            <label for="inputPassword3" class="col-sm-5 control-label">Last Name</label>
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Last Name"></br>                                                 
                         
                            <label for="inputPassword3" class="col-sm-5 control-label">Email</label>                       
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Email"></br>
                                                                    
                            <label for="inputPassword3" class="col-sm-5 control-label">Password</label>                      
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password"></br>
                            
                            <label for="inputPassword3" class="col-sm-5 control-label">Confirm Password</label>                      
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password"></br>
                            
                            <label for="inputPassword3" class="col-sm-5 control-label">Street</label>                      
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Street"></br>

                            <label for="inputPassword3" class="col-sm-5 control-label">City</label>                      
                            <input type="password" class="form-control" id="inputPassword3" placeholder="City"></br>

                            <label for="inputPassword3" class="col-sm-5 control-label">State</label>                      
                            <input type="password" class="form-control" id="inputPassword3" placeholder="State"></br>

                            <label for="inputPassword3" class="col-sm-5 control-label">Zipe Code</label>                      
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Zip Code"></br>

                            <label for="inputPassword3" class="col-sm-5 control-label">Country</label>                      
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Country"></br>

                            <label for="inputPassword3" class="col-sm-5 control-label">Security Question</label>                      
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Security Question"></br>

                            <label for="inputPassword3" class="col-sm-5 control-label">Security Answer</label>                      
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Security Answer"></br>
                    
                
                            <div class="col-sm-offset-3 col-sm-9">
                              <a class="btn btn-primary" href="/JLR/productCatalog/">Register and Sign in</a>
                            </div>
                        </form>
                  </div>
                </div>
              </div>
            </div>
         
</%block>

<%block name="join_us">
  </%block>
